@import "components/*"
@import "fonts"
//@import "swiper/css/bundle"

*
  box-sizing: border-box

body
  margin: 0
  background-image: url(@svg/align_justify_icon)
  background-repeat: no-repeat
  background-position: 50% 50%
  font-family: GraphikLCG, sans-serif

.title
  font-weight: 400
  font-style: italic

.icon
  &:hover
    stroke: #0F0

  @media screen and ( max-width: 768px )
    background-color: red

@import "block/*"
