.about 
	//margin-top: 70px
	padding: 20px

.about__content
	display: flex
	//justify-content: space-around
	align-items: center
	min-height: 577px
	gap: 82px

.about__description
	max-width: 581px

.subtitle
	font-size: 44px
	font-weight: 500
	margin-bottom: 22px

.about__text 
	font-size: 32px
	line-height: 44px
	margin: 22px	0


.about__text_small 
	font-size: 18px
	line-height: 28px
	//margin: 36px 0

.about__video
	position: relative
	margin-top: 37px


.video
	border-radius: 20px

.video-play
	position: absolute
	top: 50%
	left: 50%
	transform: translate(-50%, -50%)
	cursor: pointer

.about-advantages 
	display: flex
	justify-content: space-between
	

.about-advantages__item 

.about-advantages__title 

.about-advantages__text 

.about-advantages__title_big 
